.Weather {
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 10px;
  color: #fbfcfb;
  background: linear-gradient(
    109.6deg,
    rgb(121, 203, 202) 11.2%,
    rgb(119, 161, 211) 91.1%
  );
  border-radius: 10px;
}

.Weather h1 {
  font-size: 50px;
  margin-top: 30px;
}

.Weather h5 {
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 16px;
}

.Weather sup {
  top: -0.8em;
}

.Weather .temperature {
  font-size: 40px;
  font-weight: 700px;
}
.Weather .unit {
  font-size: 25px;
  font-weight: 700px;
}

.Weather .search {
  color: #ffff;
  font-weight: bolder;
  background-color: #f9a01b;
  border-color: darkgray;
  transition: all 200ms ease-in-out;
}
.Weather .search:hover {
  color: white;
  border-color: transparent;
  background-color: #fac70b;
}

@media (max-width: 490px) {
  .Weather {
    margin-top: 35px;
  }
  .Weather h1 {
    font-size: 40px;
  }
  .Weather h5 {
    font-weight: 400;
  }

  .Weather .description {
    font-size: 12px;
  }
  .Weather form {
    margin-top: 80px;
  }
  .Weather .search {
    font-weight: 300;
    font-size: 14px;
    padding-right: 58px;
  }
  .Weather .form-control {
    font-size: 14px;
  }
}
